{% extends 'base.html' %}
{% load i18n static %}
{% load filters %}

{% block body %}
    <div class="spacer"></div>

    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="spacer"></div>
                <h3>My Account</h3>

                <p>
                    {{ User.first_name }} {{ User.last_name }}
                    <br>
                    {{ User.email }}
                    <br>
                    {{ User.street_address }}
                    <br>
                    {{ User.zipcode }}
                </p>
            </div>

            <div class="col-md-6">
                <table class="table table-hover">
                    <tr>
                        <th>Order #</th>
                        <th>Date</th>
                        <th>Items Count</th>
                        <th>Payment Type</th>
                        <th>Total Price</th>
                    </tr>

                    {% for order in Orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.order_date|date_to_jalali }}</td>
                            <td>{{ order.items.count }}</td>
                            <td>{{ order.payment_type }}</td>
                            <td>ريال{{ order.total_price }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}