{% extends 'base.html' %}

{% block head %}<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>{% endblock %}

{% block body %}

<div ng-app="cart" ng-controller="CartController">

<div class="row">

<div class="col-md-7">

<h1 class="centerme">Shopping Cart</h1>

<table class="table table-hover"> <!-- id="cart-table" -->
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Product</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {.% for item in  %}
                <tr ng-repeat="product in cart">
                    <td>
                        <select ng-model="product.qty" ng-options="option for option in dropdownOptions" ng-change="updateCart(product)"></select>
                    </td>

                </tr>
        {.% endfor %}
    </tbody>

</table>

<script type="text/javascript" src="/static/js/cart.js"></script>
{.% raw %}

<p>Weight: <span ng-if="cartWeight.fudged">Over </span> oz.</p>
{.% endraw %}
</div>

<div class="col-md-5">

    <h2>Delivery Options</h2>
<br>
    <form name="deliveryOptions" ng-controller="FormController as formCtrl" ng-submit="deliveryOptions.$valid && validateDelivery()" novalidate>
        <label>How to pay your invoice?</label><br>

        <input type="radio" name="pay" value="online" required checked id="online-pay"><label for="online-pay">online payment</label><br>
        <input type="radio" name="pay" value="spot" required id="spot-pay"><label for="spot-pay">Payment on the spot</label><br>
            <br>
        <button id="submit" class="btn btn-default checkout"> Check Out </button><br><br>
      
        </form>

</div>

</div>

<div class="spacer"></div>
<div class="spacer"></div>

<div class="row">

<!-- <h2>Recipe Suggestions</h2> -->

<!-- <p>Don't know what you're making for dinner tonight? We've got suggestions!</p> -->

</div>

<div class="row">

{.% raw %}
<div ng-controller="RecipeController">
<div class="col-md-3" ng-repeat="recipe in recipes">  <!-- recipe in recipeCtrl.recipes track by $index -->
    <a ng-href="#"><img ng-src="#"></a>
    <a ng-href="#" class="recipetitle"><h4>recipe.name</h4></a>
    <p><a href ng-click="saveRecipe(recipe)" aria-label="Like this recipe" class="recipea"><span class="glyphicon glyphicon-heart likerecipe" aria-hidden="true"></span></a></p>
</div>
</div>
{.% endraw %}

</div>

<!-- <p>Please log in before placing your order. Not a member? <a href="/register">Register now!</a></p> -->

<script type="text/javascript" src="static/js/angularcart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#submit").click(function (e) {
    e.preventDefault();
    // check fields

        var formData = new FormData();

        $('input[name="pay"]:checked').val();
        
        var csrf_token = $("input[name=csrfmiddlewaretoken]").val()


        formData.append('title', title);
        formData.append('slug', slug);

        $.ajax({
            type:"POST",
            url:'{% url "main:category_create_api" %}',
            data: formData,
            processData: false,
            contentType: false,
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            success: function(json)
            {
                console.log(json);
                $('.success-message').show();
                $('.loading').fadeOut('slow');
                redirectURL = "{{BASE_URL}}/dashboard/";
                setTimeout ( function () {
                    window.location = redirectURL;
                }, 1000)
                
            },
            error: function (json, status, xhr) {
                console.log(json)
                // $('.error-text').html(json.responseJSON.non_field_errors[0]);
                $('.error-message').show();
                $('.loading').fadeOut('slow');
            }
        });
    
})
</script>

</div>

{% endblock %}