{% extends 'base.html' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
            <img src="{{Product.image.url}}">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5">
            <h1>{{Product.title}}</h1>
            <p>Price: ريال{{Product.price}}</p>
            <p>{{Product.weight}} {{Product.unit}}</p>
            
            {% if Product.tags.all %}
                <ul class="product_tags">
                    {% for tag in Product.tags.all %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <button id="button" class="add_to_cart btn btn-default" id="{{Product.id}}">Add to Cart</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <p>{{Product.description}}</p>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/cart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(".add_to_cart").click(function (e) {
        e.preventDefault();
    
            var this_id = this.id;
    
            var formData = new FormData();
    
            formData.append('id', this_id);
    
            $.ajax({
                type:"POST",
                url:'{% url "main:cart" %}',
                data: formData,
                processData: false,
                contentType: false,
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                success: function(json)
                {
                    alert('added to cart')
                    redirectURL = "/cart/";
                    setTimeout ( function () {
                        window.location = redirectURL;
                    }, 1000)
                    
                },
                error: function (json, status, xhr) {
                    console.log(json)
                }
            });
        
    })
    </script>

{% endblock %}